:root {
    --skyDawn: linear-gradient(0deg, rgba(245,183,177,1) 0%, rgba(108,52,131,1) 80%);
    --skySunrise: linear-gradient(0deg, rgba(247,220,111,1) 0%, rgba(190,169,135,1) 39%, rgba(41,128,185,1) 100%);
    --skyMorning: linear-gradient(0deg, rgba(215,237,252,1) 0%, rgba(78,182,251,1) 100%);
    --skyAfternoon: linear-gradient(0deg, rgba(158,216,255,1) 0%, rgba(40,115,164,1) 100%);
    --skySunset: linear-gradient(0deg, rgba(248,196,113,1) 0%, rgba(231,97,60,1) 50%, rgba(136,78,160,1) 96%);
    --skyDusk: linear-gradient(0deg, rgba(250,141,71,1) 0%, rgba(173,121,143,1) 50%, rgba(23,56,124,1) 92%);
    --skyNight: linear-gradient(0deg, rgba(23,56,124,1) 0%, rgba(4,11,25,1) 92%);
}

html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-color: rgb(0, 153, 255);
    color: white;
    text-shadow: 0px 1px 0 #000;
    font-size: 1.3rem;
}

.dawn {
    background: var(--skyDawn);
    background-attachment: fixed;
}

.sunrise {
    background: var(--skySunrise);
    background-attachment: fixed;
}

.morning {
    background: var(--skyMorning);
    background-attachment: fixed;
}

.afternoon {
    background: var(--skyAfternoon);
    background-attachment: fixed;
}

.sunset {
    background: var(--skySunset);
    background-attachment: fixed;
}

.dusk {
    background: var(--skyDusk);
    background-attachment: fixed;
}

.night {
    background: var(--skyNight);
    background-attachment: fixed;
}

.containerWeather {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.containerUnits {
    display: flex;
    font-size: 40px;
    gap: 20px;
    justify-content: center;
}

.containerUnits > span:hover {
    cursor: pointer;
}

label > img:hover {
    cursor: pointer;
}

.searchImg {
    filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(185deg) brightness(100%) contrast(101%);
}

label {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.308);
    max-width: max-content;
    min-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}

.containerWeatherCondition {
    display: flex;
    gap: 10px;

    div:nth-child(3) > img {
        filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(185deg) brightness(100%) contrast(101%);
    }
}



.containerDetails {
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.container > div > div:nth-child(5) > div:nth-child(2) {
    display: flex;
}

.daysContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.dayContainer {
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    padding: 10px;
    max-width: max-content;
}

.avgWeatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min-content;
}

.tempContainer {
    display: flex;
    gap: 10px;
}

